.Rproj.user
.Rhistory
.RData
.Ruserdata
KOSTAT_Workshop1.Rproj
my_script.R
logotip.png
logotip.svg
logotip.pdf
RStudioScreenshot.png
demo_fasec_screenshot.png
Population_screenshot.png
def.png
02_session_copy.Rmd
GBDscreenshot2.png
GBDscreenshot.png
00_title.pdf
compiled.pdf
01_session.html
02_session.html
03_session.html
test_Exp.R
Africa_nMx_facet.pdf
06_git_session.html
06_session.html
07_data_swap.Rmd
friday_vote.png
