GBD_prevalence.zip
HLD.zip
2000-2020_birth_annual data (for W1)_20220706.zip
Korea_births_fwf.zip
2000-2020_birth_annual data (for W1)_20220706
Korea_births_fwf
IHME-GBD_2019_DATA-a6292c91-1.zip
GBD
GBD-downloads
gbd_share.csv.gz
WPP2022_POP_F01_2_POPULATION_SINGLE_AGE_MALE.xlsx
WPP2022_POP_F01_3_POPULATION_SINGLE_AGE_FEMALE.xlsx
wpplt.zip
